.VerticalToolbar {
    overflow: hidden;
    position: absolute;
}

.HorizontalToolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
}