.nwb-attributes-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.75em;
  font-family: sans-serif;
  text-align: left;
  margin: 0px 0;
}

.nwb-attributes-table td {
  word-break: break-all;
  max-width: 250px;
  overflow: hidden;
}

.nwb-attributes-table thead tr {
  background-color: #555;
  color: #ffffff;
  text-align: left;
}

.nwb-attributes-table th,
.nwb-attributes-table td {
  padding: 2px 2px;
}

.nwb-attributes-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.nwb-attributes-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.nwb-attributes-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.nwb-attributes-table tbody tr:hover {
  background-color: #ededed;
  transition: background-color 0.3s ease;
}

.nwb-attributes-table thead tr {
  position: sticky;
  top: 0;
}
