.file-browser-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.75em;
    font-family: sans-serif;
    text-align: left;
    margin: 0px 0;
}

.file-browser-table td {
    word-break: break-all;
    max-width: 250px;
    overflow: hidden;
}

.file-browser-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.file-browser-table th,
.file-browser-table td {
    padding: 2px 2px;
}

.file-browser-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.file-browser-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.file-browser-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.file-browser-table tbody tr:hover {
    background-color: #ededed;
    transition: background-color 0.3s ease;
}

.file-browser-context-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 3px;
    min-width: 100px;
}

.file-browser-context-menu div {
    padding: 5px 0;
    cursor: pointer;
}

.file-browser-context-menu div:hover {
    background-color: #ddd;
}